.test_image_and_result {
    margin: 10px;
    padding: 40px;
    background-color: grey;
    border-radius: 20px;
}
.footer {
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}